@use './reset.scss';

/* Add your css here */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
// utility variables of height;
/* desktop view */
$desktop : 756px;
@mixin desktop {
    @media (min-width : #{$desktop}) {
         @content ;
    }
}
$primary-height:2rem;
$secondary-height:8rem;
// mixin of flex
@mixin flex-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
/*    border property    */
.border-primary{
    border: 0.1rem solid white;
    border-radius:2px;
}
/*   header navigation     */

.h-container{
    @include flex-1;
    padding: 1rem;
    background: #fff;

    .get-link{
        @include flex-1;
        @include desktop{
            position: relative;
            top: 1rem;
            margin-left: 0px;
            margin-bottom:1rem ;
        }

    }
 
    .nav_items{
        @include flex-1;
        @include desktop{
            float: left;
            padding: 0 1rem;
        }

        }
           
    }
    
    
    a{
        text-decoration: none;
        color: #000;
    }
    li{
        list-style: none;
 
    }
  
    .primary-height{
        height: $primary-height;
    }

/*   header navigation   end  */
/*   banner      */ 
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/bg.jpg')no-repeat center center/cover;
    .login{
        display: flex;
        justify-content: flex-end;
        padding: 2rem;

    .login-link{
        padding:0.1rem 1rem;
        text-decoration: none;
        color: #fff;
    }
}
    
    p{
        font-size: 2rem;
        text-align: center;
        margin: 2rem;
        color:#fff;
        @include desktop{
            font-size: 2.5rem;
            text-align: center;
            margin:1rem;
        }
    
    }

    
    
    .secondary-height{
        height: $secondary-height;
        margin: 5rem;
         @include desktop{
            height: 9rem;
            margin: 4rem;
        }
        
    }
    .search-restaurent{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        @include desktop{
            flex-direction: row;
            margin:1rem 0;
            justify-content: center;
        }
 
       
    
   #hotels{
       border-radius: 5px;
       background:#fff;
       font-size: 1rem;
       border: 0.2rem solid #fff;
       margin: 0.5rem;
       @include desktop{
        padding: 0 2rem;
        margin-bottom:1rem ;
        margin-right: 0.5rem;
        font-size: 1.25rem;
    }
   }
   #search-rest{
       border-radius:5px;
       background:#fff;
       border: 0.2rem solid #fff;
       font-size: 1rem;
       margin: 0.5rem;
       @include desktop{
        padding: 0 2rem;
        margin-bottom:1rem ;
        margin-right: 0.5rem;
        font-size: 1.25rem;
    }
       
   }
   #search-btn{
    border-radius: 5px;
    background:#e23744;
    border: 0.2rem solid #e23744;
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    @include desktop{
        padding: 0 2rem;
        margin-bottom:1rem ;
        margin-right: 0.5rem;
        font-size: 1.25rem;
    }
   }
}
}
/*   banner end     */
/*    widget section */
.widget{
    background: #fff;
    padding: 1rem;
    border: #f6f6f6 1rem solid;
    display: flex;
    flex-direction: column;
    h4{
        margin-left: 0.5rem;
    }
    .search-div{
        border: 1px solid #f6f6f6;
        border-radius:5px ;
        padding: 0.3rem;
        margin: 1rem 0.5rem;
        width: 100%;
        #search-del{
            border: none;
            font-size: 1rem;
            padding: 0.7rem 2rem;
            margin: 0.5rem;
            width:75%;

        }
        .detect-btn{
            border: none;
            height: 2rem;
            background: #f6f6f6;
            font-size: 1rem;
         

        }
   
    }
    .order-btn{
   
        border-radius: 2px;
        background:#099e44;
        border: 0.2rem solid #099e44;
        font-size: 1.2rem;
        width: 100%;
        color: white;
        margin: 0.5rem;
        
    }
    hr{
        color: #f6f6f6;
        margin: 1rem  0.5rem;
       width: 100%;
    }
    p{
        color:#099e44;
        font-size: 1.2rem;
        width: 100%;
        margin: 1rem 0.5rem;
        padding: 0.3rem;
    }
}
/*    widget section end */
/* categories section   */
.categories{
    border: #f6f6f6 1rem solid;
    background: #f6f6f6;
    
    
/* categories title */
    #cat-title{
        margin-left: 0.5rem;
        color:#333;
        font-weight: 500;
      
    }
    
/* categories subtitle   */
    #cat-subtitle{
        color: #888;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    

/* categories list  */
.category-list{
    padding: 1rem 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.box{

    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0 0.1rem;
    font-size: 1rem;
    height: 10rem;
    width: 4.8rem;
   
}
}
.img-height{
    height: 6rem;
    width: 3rem;

}
/* categories section end  */
/* localities */
.localities{
    border: #f6f6f6 1rem solid;
    background: #f6f6f6;
    #loc-title{
        color:#333;
        font-weight: 500; 
    }
    #loc-subtitle{
        color: #888;
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .locality-list
    {
        background: #fff;
        list-style: none;
        padding: 1rem;
        li{
            margin:0.2rem ;
            span{
                color: #888;
            }
        }
    }
}
/* localities end */
/* footer */
footer{
  background:   #282c35;
  color:#8c8b91;
  hr{
      margin: 0 0.5rem;
      border: 0.25px solid #8c8b91;
      background: #8c8b91;
  }
  /* image section */
  .image-section{
      display: flex;
      justify-content: space-between;
      
      .image-section-two{
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem;
        background:#282c35 ;
       #Cities{
           background: #1c1f25;
           color: #fff;
           border: 1px #f6f6f6 solid;
           border-radius: 2px;
           padding: 0.2rem 2rem;
       }
    }
      
      img{
          height: 4rem;
          width: 4rem;
          margin: 1rem;
      }
           }
            /* image section end*/


            .footer-wrapper{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 1rem;
        
                ul{
                   width: 480px;
                   height: auto;
                   padding-right: 1rem;

                }
                li{
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: 5px;
                    list-style: none;
                }
                }
                .line{
                    width: 90%;
                    height: 0.5px;
                    background-color:rgb(96, 94, 94) ;
                    margin: 15px;
                }
                .countries{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    height: auto;
                    
                 @include desktop{
                     flex-direction: column;
                 }
                    ul{
                    margin-left: 15px;
                    margin-right: 250px;
                    
                    li{
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: 5px;
                   
                }
            }
            }
            .terms{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 1rem;
                
                li{
                    padding-right:2rem ;
                    list-style: none;
                }
            }

}

/* footer end */

